html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

section {
  display: grid;

  grid-template-columns: 1fr 1fr;

  padding: 8rem 8rem;

  gap: 6rem;

  margin-left: 10rem;
}

/* HEADER */

header {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 46vw;
  position: relative;
}

.menu-header {
  background-image: url(../images/banner2.jpg);
}

header::before {
  content: "";
  position: absolute;
  background-color: #0000009f;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header_contenedor_uno {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.contenedor_uno_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.contenedor_uno_logo h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
}

.contenedor_uno_logo img {
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  z-index: 1;
}

ul {
  display: flex;
  gap: 3rem;
}

li {
  list-style: none;
}

li a {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}

.selector {
  color: #d88f08;
}

.header_contenedor_dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 24vw;

  width: 95rem;
}

.header_contenedor_dos h2 {
  font-size: 50px;
  width: 60rem;
  color: #ffffff;
  margin-bottom: 0;
  z-index: 1;
}

.header_contenedor_dos p {
  font-size: 20px;
  width: 60rem;
  color: #ffffff;
  z-index: 1;
}

.header_contenedor_tres {
  width: 45%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: 1rem;
}

.header_contenedor_tres a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  background-color: #d88f08;
  padding: 1.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}






.header_contenedor_tres .nosotros {
  background-color: #ffffff;
  color: #d88f08;
}

@media screen and (max-width: 950px) {
  header {
    height: auto;
    width: 100%;
  }

  .header_contenedor_uno {
    flex-direction: column;
  }

  .header_contenedor_dos {
    display: none;
  }

  .header_contenedor_tres {
    width: 100%;
    padding: 2rem 0;
    margin: 0;
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
  }
}

/* FIN HEADER  */

/* SECTION MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 8rem;
  gap: 6rem;
  margin-left: 10rem;
}

section img {
  width: 35vw;
  border-radius: 1rem;
}

section .descripcion {
  width: 90%;
}

section h4 {
  font-size: 2rem;
  color: gray;
}

section h2 {
  font-size: 4rem;
}

section p {
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 3rem;
  font-weight: 200;
}

section a {
  text-decoration: none;
  color: #d88f08;
  font-size: 2rem;
  border: 1px solid #d88f08;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 950px) {
  section {
    padding: 4rem 4rem;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;

    align-items: center;

    text-align: center;
  }

  section img {
    width: 100%;
  }
}

/* FIN SECTION MAIN */

/* FOOTER */

footer {
  height: 35rem;
  background-color: #000000;
  padding: 2rem 12rem;
}
.contenedor_footer {
  height: 25rem;

  display: flex;
  justify-content: space-around;
}
.contacto h2 {
  font-size: 3rem;
  color: #ffffff;
}

.contacto p {
  font-size: 2rem;
  color: #9c9a9a;
  font-weight: 400;
}

.contacto p svg {
  width: 10px;
  margin-right: 6px;
  fill: #ffffff;
}

.contenedor-redes-enlaces {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.redes {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.redes a svg {
  fill: #ffffff;
  width: 30px;
}

.enlaces-rapidos ul {
  display: flex;

  align-items: center;
}

.enlaces-rapidos ul li a {
  font-size: 2rem;
  columns: #9c9a9a;
}

hr {
  width: 92%;
  border: 0.5px solid #9c9a9a;
}

.copyright svg {
  width: 20px;
  fill: #9c9a9a;
}

.copyright {
  display: flex;
  font-size: 1.7rem;
  color: #9c9a9a;
  gap: 2rem;
  margin-left: 5rem;
  
}

@media screen and (max-width: 950px) {
  footer {
    height: auto;
    padding: 2rem;
  }

  .contenedor_footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contenedor-redes-enlaces {
    width: 100%;
  }

  .enlaces-rapidos ul {
    display: none;
  }

  .copyright {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }

  .copyright svg {
    min-width: 20px;
  }
}

/* FIN FOOTER */

/* MENU.HTML */

/* section */

.navegador-main {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navegador-main a {
  text-decoration: none;
  font-size: 2rem;
  color: #777777;
}

.navegador-main p {
  font-size: 2rem;
}

main h1 {
  text-align: center;
  font-size: 5rem;
}

.contenedor-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 5rem 15rem;
  /* background-color: red; */
}

.card {
  display: flex;
  gap: 1rem;
}

.card img {
  width: 80px;
  height: 60px;
}

.card .info-card {
  /* background-color: blue; */
  width: 100%;
}

.card .info-card .nombre-precio {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px dotted #bbb;
}

.card .info-card .nombre-precio h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}

.card .info-card .nombre-precio p {
  font-size: 2.5rem;
  margin: 0;
  color: #d88f08;
  font-weight: 400;
}

.card .detalles-card p {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #bbb;
}

@media screen and (max-width: 950px) {
  .contenedor-menu {
    grid-template-columns: 1fr;
    padding: 3rem;
  }
}

/*FIN MENU.HTML */

/* BLOG.HTML */

.section-blog {
  padding-top: 0;
}

.blog-contenedor {
  height: 25rem;
  background-image: url(../images/banner3.jpg);
}

.header_contenedor_dos_blog {
  display: none;
}

.header_contenedor_tres_blog {
  display: none;
}

.contenedor-blog h2 {
  text-align: center;
}

.contenedor-blog img {
  width: 80vw;
}

.blog-datos {
  display: flex;

  gap: 3rem;
}

.blog-datos svg {
  width: 12px;
  margin-right: 0.5rem;
  fill: #d88f08;
}

/* FIN BLOG.HTML */

/* NOSOTROS.HTML */

.nosotros {
  height: auto;
}

.contenedor-nosotros {
  display: flex;
  align-items: center;
}
.contenedor-nosotros img {
  width: 56rem;
  height: 40rem;
}

.header_contenedor_dos_nosotros {
  display: none;
}

.header_contenedor_tres_nosotros {
  display: none;
}

.nosotros-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nosotros-section .contenedor-nosotros .contenedor-nosotros-texto h1 {
  margin: 0;
  padding: 5rem 0;
  text-align: start;
}

.nosotros-section .contenedor-nosotros {
  display: flex;
  padding: 0 15rem;

  gap: 5rem;
}

.contenedor-nosotros-texto h2 {
  margin: 0;
  font-size: 3.2rem;
  color: #777;
}

.contenedor-nosotros-texto p {
  margin: 1rem 0;
}

.contenedor-nosotros-texto ul {
  padding: 0;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.contenedor-nosotros-texto li {
  color: #777;
  font-weight: 200;
}

.contenedor-nosotros-texto li svg {
  width: 13px;
  margin-right: 1rem;
  fill: rgb(165, 165, 165);
}

.contenedor-nosotros-dos {
  background-color: #b46d3b13;
  display: flex;
  margin-bottom: 8rem;
  padding: 4rem 17em;
  align-items: center;
  justify-content: center;
}

.contenedor-nosotros-dos-videouno,
.contenedor-nosotros-dos-videodos {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 950px) {
  .contenedor-nosotros {
    flex-direction: column;
  }

  .nosotros-section .contenedor-nosotros .contenedor-nosotros-texto h1 {
    text-align: center;
    padding-top: 0;
  }
  .nosotros-section .contenedor-nosotros {
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .contenedor-nosotros img {
    width: 100%;
    max-width: 60rem;
  }

  .contenedor-nosotros-texto {
    padding: 2rem;
  }

  .contenedor-nosotros-texto ul {
    text-align: center;
  }

  .contenedor-nosotros-dos {
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .contenedor-nosotros-dos-videouno,
  .contenedor-nosotros-dos-videodos {
    align-items: center;
  }
}

/* FIN NOSOTROS.HTML */

/* CONTACTO.HTML */

.section-principal-contacto {
  display: flex;
  padding: 0;
  margin: 4rem 0;
  justify-content: center;
}

form {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.input-juntos {
  /* background-color: red; */
  display: flex;
  gap: 3rem;
}

.input-juntos .nombre {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;

  width: 50%;
}

input {
  padding: 1.2rem 1.5rem;
  margin-bottom: 2rem;
  color: #666;
  border-radius: 3px;
  line-height: 25px;
  outline: none;
  background: #f8f9fa;
  border: 1px solid #dedede;
  font-size: 18px;
}

.input-juntos .email {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  /* background-color: pink; */
  font-size: 18px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
  margin-bottom: 2rem;
  padding: 1.2rem 1.5rem;
  color: #666;
  border-radius: 3px;
  line-height: 25px;
  outline: none;
  background: #f8f9fa;
  border: 1px solid #dedede;
  font-size: 18px;
}

.boton {
  padding: 1.2rem 3rem;
  font-size: 17px;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 20%;
  background-color: #d88f08;
  color: #ffffff;
  border: none;
  margin: 0;
}

.caja-boton {
  text-align: right;
}

.contacto-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preguntas h2,
.direccion h2,
.telefono h2 {
  margin: 0rem 0 0 0;
  font-size: 28px;
}

.preguntas p,
.direccion p,
.telefono p {
  font-size: 18px;
  margin: 0;
}

.direccion,
.preguntas,
.telefono {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.direccion svg,
.preguntas svg,
.telefono svg {
  width: 30px;
  height: 20px;
  background-color: #d88f08;
  padding: 1rem;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  .section-principal-contacto {
    padding: 3rem;
  }

  form {
    width: 100%;
  }

  label {
    text-align: start;
  }
  .input-juntos {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .input-juntos .nombre,
  .input-juntos .email {
    width: 100%;
  }

  .caja-boton {
    text-align: center;
  }

  .boton {
    width: 150px;
  }

  .contacto-section {
    gap: 5rem;
  }

  .contacto-section .direccion,
  .contacto-section .preguntas,
  .contacto-section .telefono {
    flex-direction: column;
    align-items: center;
  }
}

/*FIN CONTATO*/


.boton-modal{
  /* position: fixed;
  top: 93vh;;
  left: 189vh;
  z-index: 5; */
font-size: 2rem !important;
background-color: #d88f08 !important;
border: none !important;

border-radius: .3rem;
padding: .5rem;
color: #fff;
  
}






.btn-color{
  background-color: #d88f08 !important;
  border: none !important;
}

.modal-header{
  background-color: #d88f08f6 !important;
color: #ffffff;



}

.modal-header h5{
  font-size: 15px;
}


.boton-fuera{
  
   position: fixed;
   bottom: 20px;
   right: 10px;
  z-index: 5;
  
}
