/* BLOG.HTML */

.section-blog {
    padding-top: 0;
}

.blog-contenedor {
    height: 10vw;
    background-image: url(../images/banner3.jpg);
}

.contenedor-blog h2 {
    text-align: center;
    margin: 2rem 0;
}

.contenedor-blog img {
    width: 80vw;
}

.blog-datos {
    display: flex;

    gap: 3rem;

    svg {
        width: 12px;
        margin-right: 0.5rem;
        fill: #d88f08;
    }
}

.nota {
    p {
        padding: 0.5rem 0;
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .blog-contenedor {
        height: auto;
    }
}

/* FIN BLOG.HTML */
