html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
  }


  section {
    display: grid;
  
    grid-template-columns: 1fr 1fr;
  
    padding: 8rem 8rem;
  
    gap: 6rem;
  
    margin-left: 10rem;
  }



  //MAPS 

  $colores:(/*Declaración de mapa*/

          secundario:#ffffff,
          principal:#d88f08,
          width: 100%,

  );


  //MIXIN

  @mixin displayMixin($display,$justify,$align) {

    display: $display;

    justify-content: $justify;

    align-items: $align;
    
  }