/* HEADER */

header {
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 46vw;
    position: relative;

    .header_contenedor_uno {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
    }

    .header_contenedor_dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 35vw;

        width: 95rem;

        h2 {
            font-size: 50px;
            width: 60rem;
            color: map-get($colores, secundario);
            margin-bottom: 0;
            z-index: 1;
        }

        p {
            font-size: 20px;
            width: 60rem;
            color: map-get($colores, secundario);
            z-index: 1;
        }

        .header_contenedor_tres {
            width: 60rem;
            display: flex;
            justify-content: start;
            gap: 2rem;
            // margin-top: 5rem;

            a {
                height: auto;
                text-decoration: none;
                color: map-get($colores, secundario);
                font-size: 2rem;
                background-color: map-get($colores, principal);
                padding: 1.5rem;
                border-radius: 0.5rem;
                z-index: 1;
            }

            .carta {
                border: 2px solid #d88f08;
                &:hover {
                    border: 2px solid #d88f08;
                    background-color: transparent;
                    transition: 1s;
                }
            }

            .nosotros {
                background-color: #ffffff;
                color: map-get($colores, principal);
                border: 2px solid #ffffff;
                &:hover {
                    box-sizing: border-box;
                    border: 2px solid #ffffff;
                    background-color: transparent;
                    transition: 1s;
                }
            }
        }
    }
}

header::before {
    content: "";
    position: absolute;
    background-color: #0000009f;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contenedor_uno_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    z-index: 1;

    h1 {
        color: map-get($colores, secundario);
        font-size: 40px;
        font-weight: 400;
        margin: 0;
    }

    img {
        margin-bottom: 0.5rem;
    }
}

.sin-flex {
    display: inline-block !important;

    text-align: center;
}
.navbar-nav {
    display: flex;
    align-items: center;
    z-index: 1;
    gap: 3rem;

    a {
        font-size: 25px;
        text-decoration: none;
        color: map-get($colores, secundario) !important;
        font-weight: 200;

        &:hover {
            color: map-get($colores, principal) !important;
        }
    }

    .selector {
        color: map-get($colores, principal) !important;
    }
}

.tazaDeCafe {
    display: none;
}

@media screen and (max-width: 991px) {
    header {
        height: auto;
        width: map-get($colores, width);

        .header_contenedor_uno {
            padding: 0;

            .contenedor_uno_logo {
                display: none;
            }
        }

        .header_contenedor_dos {
            display: none;
        }

        .header_contenedor_tres {
            width: map-get($colores, width);
            padding: 2rem 0;
            margin: 0;
        }
    }
    .navbar {
        .tazaDeCafe {
            display: inline-block;
        }

        padding: 2rem 0;

        width: 100%;
        align-items: flex-start;

        .container-fluid {
            justify-content: space-around;
            margin: 0;
            padding: 0;
            width: 100%;

            .navbar-toggler:focus,
            .navbar-toggler:active {
                outline: none;
                box-shadow: none;
            }
            .navbar-toggler {
                border: none;
                .navbar-toggler-icon {
                    width: 30px;
                }
            }
        }
    }

    .navbar-nav {
        gap: 0.5rem;
        margin-top: 1rem;
    }
}

/* FIN HEADER  */
