/* HEADER */

header {
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 46vw;
    position: relative;
}

.menu-header {
    background-image: url(../images/banner2.jpg);
}

header::before {
    content: "";
    position: absolute;
    background-color: #0000009f;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header_contenedor_uno {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.contenedor_uno_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    z-index: 1;

     h1 {
        color:map-get($colores, secundario);
        font-size: 40px;
        font-weight: 400;
        
    }

     img {
        margin-bottom: 0.5rem;
    }
}
nav {
    display: flex;
    align-items: center;
    z-index: 1;
}

ul {
    display: flex;
    gap: 3rem;

    li {
        list-style: none;
    }
}
li a {
    font-size: 25px;
    text-decoration: none;
    color:map-get($colores, secundario);
    font-weight: 200;
}

.selector {
    color:map-get($colores, principal);
}

.header_contenedor_dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 24vw;

    width: 95rem;

    h2 {
        font-size: 50px;
        width: 60rem;
        color:map-get($colores, secundario);
        margin-bottom: 0;
        z-index: 1;
    }

    p {
        font-size: 20px;
        width: 60rem;
        color:map-get($colores, secundario);
        z-index: 1;
    }
}
.header_contenedor_tres {
    width: 45%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-left: 1rem;

    a {
        text-decoration: none;
        color:map-get($colores, secundario);
        font-size: 2rem;
        background-color:map-get($colores, principal);
        padding: 1.5rem;
        border-radius: 0.5rem;
        z-index: 1;
    }

    

    .nosotros {
        background-color: #ffffff;
        color:map-get($colores, principal);
    }
}
@media screen and (max-width: 950px) {
    header {
        height: auto;
        width:map-get($colores, width);
    }

    .header_contenedor_uno {
        flex-direction: column;
    }

    .header_contenedor_dos {
        display: none;
    }

    .header_contenedor_tres {
        width:map-get($colores, width);
        padding: 2rem 0;
        margin: 0;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2rem;
    }
}

/* FIN HEADER  */
