/* MENU.HTML */

.menu-header {
    background-image: url(../images/cafe-menu.jpg);

    height: 10vw;
}

.menu-header::before {
    content: "";
    position: absolute;
    background-color: #0000009f;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* section */

.navegador-main {
    background-color: #f3f3f3;
    @include displayMixin(flex, center, center);

    gap: 1rem;

    a {
        text-decoration: none;
        font-size: 2rem;
        color: #777777;
    }

    p {
        font-size: 2rem;
    }
}

h1 {
    text-align: center;
    font-size: 3rem;

    margin-top: 2rem;
}

.contenedor-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 5rem 15rem;
    /* background-color: red; */
}

.card {
    flex-direction: row !important;

    align-items: center;

    gap: 1rem;
    border: none;

    img {
        width: 80px;
        height: 60px;
    }

    .info-card {
        /* background-color: blue; */
        width: map-get($colores, width);

        .nombre-precio {
            @include displayMixin(flex, space-between, center);

            padding-bottom: 1rem;
            border-bottom: 2px dotted #bbb;
        }

        .nombre-precio h2 {
            font-size: 2rem;
            margin: 0;
            font-weight: 400;
        }

        .nombre-precio p {
            @extend h2;
            font-size: 2.5rem;
            color: map-get($colores, principal);
        }
    }

    .detalles-card p {
        margin-top: 1rem;
        font-size: 1.8rem;
        color: #bbb;
    }
}
@media screen and (max-width: 991px) {
    .menu-header {
        height: auto;
    }

    .contenedor-menu {
        grid-template-columns: 1fr;
        padding: 3rem;
    }
}

/*FIN MENU.HTML */
