.boton-modal {
    font-size: 2rem !important;
    background-color: #d88f08 !important;
    border: none !important;

    border-radius: 0.3rem;
    padding: 0.5rem;
    color: #fff;
}

.btn-color {
    background-color: #d88f08 !important;
    border: none !important;
}

.modal-header {
    background-color: #d88f08f6 !important;
    color: #ffffff;

    h5 {
        font-size: 15px;
    }
}
.boton-fuera {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 5;
}

.boton-modal:hover{
    cursor:url(../images/seleccione.png),auto;
}
