/* NOSOTROS.HTML */

.nosotros {
    height: 10vw;
}

.contenedor-nosotros {
    display: flex;
    align-items: center;

    img {
        width: 56rem;
        height: 40rem;
    }
}
.header_contenedor_dos_nosotros {
    display: none;
}

.header_contenedor_tres_nosotros {
    display: none;
}

.nosotros-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .contenedor-nosotros .contenedor-nosotros-texto h1 {
        margin: 0;
        padding: 5rem 0;
        text-align: start;
    }

    .contenedor-nosotros {
        display: flex;
        padding: 0 15rem;

        gap: 5rem;
    }
}
.contenedor-nosotros-texto {
    h1 {
        font-weight: 700;
    }
    h2 {
        margin: 0;
        font-size: 3.2rem;
        color: #777;
        font-weight: 700;
    }

    p {
        margin: 1rem 0;
    }

    ul {
        background-color: rgba(223, 223, 223, 0.226);
        padding: 2rem;
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        gap: 3rem;
        border-radius: 2rem;
    }

    li {
        color: #777;
        font-weight: 200;
        list-style: none;
    }

    li svg {
        width: 13px;
        margin-right: 1rem;
        fill: rgb(165, 165, 165);
    }
}
.contenedor-nosotros-dos {
    background-color: #b46d3b13;
    display: flex;
    margin-bottom: 8rem;
    padding: 4rem 17em;
    align-items: center;
    justify-content: center;
}

.contenedor-nosotros-dos-videouno,
.contenedor-nosotros-dos-videodos {
    width: 320px;
    height: 222px;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 2rem;

    iframe {
        border: none;
    }

    h3 {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 950px) {
    .contenedor-nosotros {
        flex-direction: column;
    }

    .nosotros-section .contenedor-nosotros .contenedor-nosotros-texto h1 {
        text-align: center;
        padding-top: 0;
    }
    .nosotros-section .contenedor-nosotros {
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .contenedor-nosotros img {
        width: 100%;
        max-width: 60rem;
    }

    .contenedor-nosotros-texto {
        padding: 2rem;
    }

    .contenedor-nosotros-texto ul {
        text-align: center;
    }

    .contenedor-nosotros-dos {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .contenedor-nosotros-dos-videouno,
    .contenedor-nosotros-dos-videodos {
        align-items: center;
    }
}

@media screen and (max-width: 991px) {
    .nosotros {
        height: auto;
    }
}

/* FIN NOSOTROS.HTML */
